version: "3.3"
services:
  pipeline:
    image: pipeline
    build:
      context: ./pipeline
      dockerfile: Dockerfile.pipeline
    devices:
      - /dev/dri:/dev/dri
    privileged: true
    depends_on:
    - grafana
    - MQTTBroker
    - rtspsim

  telegraf:
    image: telegraf
    environment:
    - MQTT_IP=MQTTBroker
    build:
      context: ./telegraf
      dockerfile: Dockerfile.telegraf
    ports:
    - "5100:5100"
    depends_on:
    - MQTTBroker
    - grafana
    - influxdb
  MQTTBroker:
    image: eclipse-mosquitto:1.6.15
    ports:
    - "1883:1883"
  influxdb:
    image: influxdb:1.7.10
    
  grafana:
    image: grafana
    build:
      context: ./grafana
      dockerfile: Dockerfile.grafana
    environment:
    - GF_USERS_DEFAULT_THEME=light
    - GF_DASHBOARDS_MIN_REFRESH_INTERVAL=1s
    ports:
    - "3000:3000"
  
  rtspsim:
    image: rtspsim
    build:
      context: ./rtsp
      dockerfile: Dockerfile.rtsp   
    volumes:
    - ./input:/input/
    depends_on:
    - MQTTBroker
    
